class {{ protocol_name }}(Protocol):
    {{ "async " if is_async else "" }}def __call__(self, *, {{ call_parameters.params }}, {{ call_parameters.query }}, {{ call_parameters.headers }}, {{ call_parameters.body }}) -> {{ op.response_type }}: ...
