{% if class_syntax -%}
class {{ defn.name }}(TypedDict{% if total_optional %}, total=False{% endif %}):
{% if not defn.fields %}
    pass
{% else %}
{% for field in defn.fields %}
    {{ field.name }}: {{ field | class_field_annotation(total_optional) }}
{% endfor %}
{% endif %}
{% elif not defn.fields -%}
{{ defn.name }} = TypedDict({{ defn.name | repr }}, {})
{% else -%}
{{ defn.name }} = TypedDict(
    {{ defn.name | repr }},
    {
{% for field in defn.fields %}
        {{ field.name | repr }}: {{ field | field_annotation }},
{% endfor %}
    },
)
{% endif -%}
